.col-md-12 {
  padding-left: 0px !important;
  padding-right: 0px !important;
}

.col-md-6 {
  padding-left: 0px !important;
  padding-right: 20px !important;
  padding-bottom: 30px;
}

.dribbble-placeholder {
   font-family: 'Inter UI', sans-serif;
   color: #666;
   font-size: 16px;
   line-height: 20px;
}

a:hover {
   text-decoration: none !important;
   color: #8468bf !important;
}

.w-layout-grid {
  display: -ms-grid;
  display: grid;
  grid-auto-columns: 1fr;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
  grid-row-gap: 16px;
  grid-column-gap: 16px;
}

img {
  display: inline-block;
  max-width: 100%;
}

.navbar-home {
  position: -webkit-sticky;
  position: sticky;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: auto;
  z-index: 10;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 20px 40px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: hsla(0, 0%, 100%, 0.95);
}

.body {
  overflow: visible;
  background-color: hsla(0, 0%, 100%, 0.95);
  text-decoration: none;
}

.brand-logo {
  display: block;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.menu-link-item {
  margin-left: 40px;
  font-family: 'Inter UI', sans-serif;
  color: #000;
  font-size: 18px;
  line-height: 21px;
  text-decoration: none;
  cursor: pointer;
}

.menu-link-item:hover {
  color: #8468bf;
}

.header {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-right: auto;
  margin-left: auto;
  padding: 88px 20px 160px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.header-text {
  max-width: 1120px;
  margin-top: 0px;
  margin-bottom: 0px;
  font-family: 'Gt super display', sans-serif;
  color: #666;
  font-size: 52px;
  line-height: 68px;
}

.header-text.purple-text {
  color: #8469bf;
}

.design {
  position: relative;
  z-index: 1;
  background-color: #f8f9f9;
}

.background-text {
  position: absolute;
  left: auto;
  top: 5vh;
  right: 10vw;
  bottom: auto;
  z-index: 2;
  font-family: 'Gt super display', sans-serif;
  color: hsla(0, 0%, 40%, 0.04);
  font-size: 160px;
  line-height: 185px;
}

.section-title {
  margin-top: 0px;
  margin-bottom: 24px;
  font-family: 'Gt super display', sans-serif;
  color: #8468bf;
  font-size: 72px;
  line-height: 80px;
}

.section-content {
  max-width: 1160px;
  margin-right: auto;
  margin-left: auto;
  padding: 88px 20px 80px;
}

.section-description {
  margin-top: 0px;
  margin-bottom: 60px;
  font-family: 'Inter UI', sans-serif;
  color: #666;
  font-size: 24px;
  line-height: 29px;
  font-weight: 400;
}

.section-case-study {
  position: relative;
  z-index: 1;
  margin-bottom: 160px;
}
.section-case-study.design-section {
  margin-bottom: 80px;
}

.case-study-image {
  position: absolute;
  left: auto;
  top: 0%;
  right: 0%;
  bottom: 0%;
  z-index: 1;
  width: 60vw;
  height: 80vh;
  max-height: 500px;
  max-width: 864px;
  padding-bottom: 0px;
  background-image: url('../images/concierge_starter_header.png');
  background-position: 50% 50%;
  background-size: cover;
  background-attachment: scroll;
}

.case-study-image.harbour-air-web {
  background-image: none;
}

.case-study-image.hootsuite {
  background-image: url('../images/hootsuite-cover.jpg');
  background-position: 50% 50%;
  background-size: 864px;
}

.case-study-image.sap {
  background-image: url('../images/sap-header.jpg');
  background-position: 50% 50%;
  background-attachment: scroll;
}

.case-study-card {
  position: relative;
  z-index: 2;
  margin-bottom: 0px;
}

.card-study-number {
  font-family: 'Gt super display', sans-serif;
  color: #666;
  font-size: 24px;
  line-height: 74px;
}

.card-study-number.selected {
  display: inline-block;
  padding-top: 92px;
  padding-bottom: 8px;
  color: #b1b1b1;
}

.text-span {
  color: #666;
  font-size: 64px;
}

.description-card {
  max-width: 35vw;
  padding: 40px;
  background-color: #fff;
}

.case-study-subtitle {
  margin-bottom: 16px;
  font-family: 'Inter UI', sans-serif;
  color: #666;
  font-size: 20px;
  line-height: 28px;
}

.case-study-subtitle.research-subtitle {
  min-height: 56px;
  margin-bottom: 32px;
}

.case-study-title {
  margin-top: 0px;
  margin-bottom: 24px;
  font-family: 'Gt super display', sans-serif;
  color: #333;
  font-size: 32px;
  line-height: 40px;
}

.case-study-tags {
  margin-bottom: 32px;
}

.case-study-tags.harbour-air-web {
  margin-bottom: 0px;
}

.tag {
  display: inline-block;
  margin-right: 8px;
  padding: 8px;
  background-color: #fefedf;
}

.case-study-tag-link {
  display: inline-block;
  font-family: 'Inter UI', sans-serif;
  color: #8468bf;
  line-height: 16px;
}

.view-case-study-link {
  display: inline-block;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  font-family: 'Inter UI', sans-serif;
  color: #8468bf;
  font-size: 16px;
  line-height: 24px;
  text-decoration: none;
  cursor: pointer;
}

.view-case-study-link:hover {
  text-decoration: none;
}

.image {
  margin-left: 4px;
}

.research {
  position: relative;
  z-index: 1;
}

.research-case-study-card {
  padding: 48px 48px 30px;
}

.research-case-study-card.card-left {
  position: relative;
  z-index: 1;
  min-height: 600px;
  background-color: #fdf7ff;
}

.research-case-study-card.card-right {
  position: relative;
  background-color: #fefedf;
}

.research-case-study-grid {
  grid-column-gap: 40px;
  grid-row-gap: 0px;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.research-heading {
  min-height: 120px;
  margin-top: 0px;
  margin-bottom: 24px;
  font-family: 'Gt super display', sans-serif;
  color: #000;
  font-size: 32px;
  line-height: 40px;
}

.image-background {
  position: absolute;
  right: 50px;
  bottom: 30px;
}

.interest {
  position: relative;
  background-color: #f8f9f9;
}

.contact {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-right: auto;
  margin-left: auto;
  padding-top: 80px;
  padding-bottom: 80px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.footer-title {
  margin-bottom: 20px;
  font-family: 'Gt super display', sans-serif;
  color: #8468bf;
  font-size: 32px;
  line-height: 40px;
  text-align: center;
}

.grid {
  width: 184px;
  margin-bottom: 0px;
  grid-column-gap: 56px;
  grid-row-gap: 0px;
  -ms-grid-columns: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.link-block {
  cursor: pointer;
}

.dribbble-feed {
  display: -ms-grid;
  display: grid;
  height: 392.5px;
  grid-auto-columns: 1fr;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.page-title {
  padding-bottom: 40px;
  font-family: 'Gt super display', sans-serif;
  color: #8468bf;
  font-size: 42px;
  line-height: 50px;
  font-weight: 400;
}

.body-text {
  max-width: 640px;
  margin-top: 40px;
  margin-bottom: 30px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  color: #000;
  font-size: 18px;
  line-height: 28px;
  font-weight: 300;
}

.body-text.cover-text {
  margin-top: 0px;
  margin-bottom: 0px;
}

.body-text.body-paragraphy-3 {
  margin-top: 0px;
  margin-bottom: 0px;
  padding-bottom: 0px;
  font-weight: 300;
}

.body-text.body-paragraphy-3.body-paragraphy-2 {
  margin-bottom: 0px;
}

.body-text.heading-2 {
  margin-top: 40px;
  margin-bottom: 30px;
  color: #333;
  font-size: 24px;
  font-weight: 600;
}

.body-text.body-paragraphy-1 {
  margin-top: 0px;
  margin-bottom: 40px;
}

.body-text.discovery {
  margin-top: 40px;
  margin-bottom: 40px;
}

.body-text.focus-group {
  margin-top: 0px;
  margin-bottom: 0px;
  color: #8468bf;
}

.cover-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  max-width: 1200px;
  margin-right: auto;
  margin-left: auto;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.right-col {
  display: block;
  min-height: 532px;
  padding-right: 0px;
  padding-left: 0px;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  border-style: none;
  border-width: 1px;
  border-color: rgba(0, 0, 0, 0.1);
  background-image: url('../images/SEISM---Invasive-Species---1.2-Persona---Invasive-Plant-Planner.jpg');
  background-position: 0% 0%;
  background-size: cover;
}

.right-col.harbour-air-web {
  min-height: 0px;
  background-image: none;
}

.info-container {
  max-width: 1200px;
  margin-right: auto;
  margin-left: auto;
  padding: 40px 24px 80px;
}

.page-subtitle {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  color: #666;
  font-size: 24px;
  line-height: 32px;
  font-weight: 400;
}

.page-subtitle.harbour-air-web {
  margin-bottom: 20px;
}

.first-col {
  padding-right: 0px;
  padding-left: 40px;
}

.left-col {
  padding: 80px 60px;
  background-color: #f8f9f9;
}

.info-label {
  padding-bottom: 10px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  color: rgba(0, 0, 0, 0.54);
  font-size: 20px;
  line-height: 28px;
}

.section-cover {
  overflow: scroll;
  margin-top: 0px;
  margin-right: auto;
  margin-left: auto;
}

.body-gray {
  padding-bottom: 40px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  color: rgba(0, 0, 0, 0.38);
  font-size: 16px;
  line-height: 24px;
}

.second-col {
  padding-right: 0px;
  padding-left: 0px;
}

.third-col {
  padding-right: 24px;
  padding-left: 0px;
}

.toc-block {
  display: block;
  width: 150px;
  margin-bottom: 10px;
  padding-bottom: 0px;
}

.intro-left-col {
  z-index: 2;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 0px;
  margin-right: auto;
  margin-left: auto;
  padding: 80px 0px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  justify-items: center;
  grid-auto-flow: row;
  grid-auto-columns: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  -ms-grid-columns: 1fr;
  grid-template-columns: 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
  background-color: #fafafa;
}

.intro-left-col.ending {
  margin-top: 80px;
  padding-top: 40px;
  grid-auto-flow: column;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
}

.toc-link {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  color: rgba(0, 0, 0, 0.54);
  font-weight: 400;
  text-decoration: underline;
}

.toc-link:hover {
  color: #8468bf;
}

.toc-link:focus {
  color: #000;
}

.toc-link.w--current:focus {
  color: #8468bf;
}

.intro-right-col {
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
  z-index: 1;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 0px 0px 60px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.section-q1-container {
  padding-top: 100px;
  padding-bottom: 80px;
}

.title-q1 {
  position: relative;
  margin-bottom: 60px;
}

.quatation-mark-left {
  position: absolute;
  left: 0%;
  top: 0%;
  right: auto;
  bottom: auto;
  z-index: 1;
  width: 88px;
  height: 72px;
  margin-top: -64px;
  margin-bottom: 0px;
  margin-left: -48px;
  background-color: transparent;
  background-image: url('../images/quotation-mark-left.png');
  background-position: 0% 0%;
  background-size: contain;
}

.heading-1 {
  position: static;
  z-index: 2;
  display: inline;
  padding-bottom: 20px;
  font-family: 'Gt super display', sans-serif;
  color: #8468bf;
  font-size: 36px;
  line-height: 44px;
  font-weight: 400;
}

.heading-1.workflow-title {
  display: inline;
  padding-bottom: 0px;
}

.quatation-mark-right {
  position: absolute;
  left: auto;
  top: auto;
  right: 0%;
  bottom: 0%;
  z-index: 1;
  width: 88px;
  height: 72px;
  margin-right: -32px;
  margin-bottom: -56px;
  background-image: url('../images/quotation-mark-right.png');
  background-position: 100% 100%;
  background-size: contain;
}

.section-q2-container {
  display: -ms-grid;
  display: grid;
  padding-top: 0px;
  padding-bottom: 80px;
  justify-items: stretch;
  grid-auto-flow: row;
  grid-auto-columns: 1fr;
  grid-column-gap: 20px;
  grid-row-gap: 0px;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
}

.container-q4-3 {
  position: static;
  display: block;
  margin-left: 0vh;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.title-q2 {
  position: relative;
  margin-bottom: 60px;
}

.image-q2 {
  position: -webkit-sticky;
  position: sticky;
  top: 30px;
  z-index: 3;
  display: block;
  box-shadow: 4px 0 20px 12px #fafafa;
}

.italic-text {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  font-weight: 300;
}

.container-q4-1 {
  max-width: 500px;
  padding-right: 0px;
}

.container-q4-1.q2-col-left {
  max-width: 600vh;
}

.block-quote {
  margin-top: 40px;
  margin-bottom: 40px;
  padding-top: 20px;
  padding-bottom: 20px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  line-height: 24px;
  font-weight: 300;
}

.block-quote.text-gray {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  color: #000;
  font-weight: 300;
}

.image-user-group {
  width: 800px;
}

.image-float-back {
  position: absolute;
  left: 20%;
  top: 0%;
  right: auto;
  bottom: auto;
  z-index: 1;
  width: 300px;
  max-width: 300px;
}

.container-q3-3 {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  min-height: 640px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.container-q3-3.clear-user-group {
  min-height: 0px;
}

.title-q3 {
  position: relative;
  margin-bottom: 60px;
}

.image-float-front {
  position: absolute;
  left: auto;
  top: auto;
  right: 20%;
  bottom: 0%;
  z-index: 2;
  width: 500px;
  max-width: 50%;
}

.section-q3 {
  display: -ms-grid;
  display: grid;
  margin-right: 12vh;
  margin-bottom: 0px;
  margin-left: 12vh;
  padding-bottom: 80px;
  grid-auto-columns: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.image-workflow {
  height: auto;
}

.image-workflow.image-q2 {
  width: auto;
  height: auto;
  max-width: 100%;
}

.section-q4 {
  margin-top: 80px;
  margin-bottom: 80px;
  padding-top: 0px;
  padding-right: 12vh;
  padding-left: 12vh;
}

.flexbox-q3 {
  display: -ms-grid;
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 1fr;
  grid-column-gap: 20px;
  grid-row-gap: 0px;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
}

.title-q4 {
  position: relative;
  margin-bottom: 60px;
}

.section-q5 {
  display: -ms-grid;
  display: grid;
  margin-top: 80px;
  margin-bottom: 80px;
  justify-items: center;
  -webkit-box-align: start;
  -webkit-align-items: start;
  -ms-flex-align: start;
  align-items: start;
  grid-auto-flow: column;
  grid-auto-columns: 1fr;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  -ms-grid-rows: auto auto auto;
  grid-template-rows: auto auto auto;
}

.image-user-story {
  max-width: 1200px;
}

.image-user-story.image-q2 {
  width: 1200px;
  max-width: 100%;
}

.title-q5 {
  position: relative;
  margin-bottom: 60px;
}

.container-next {
  display: -ms-grid;
  display: grid;
  margin-top: 80px;
  margin-bottom: 0px;
  padding-top: 64px;
  padding-bottom: 64px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  grid-auto-columns: 1fr;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  -ms-grid-columns: 1fr;
  grid-template-columns: 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
  background-color: #f9f9f9;
}

.next-label {
  display: block;
  padding-bottom: 20px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  color: rgba(0, 0, 0, 0.54);
  font-size: 24px;
  line-height: 30px;
  font-weight: 400;
  text-align: center;
}

.next-title {
  position: static;
  left: 20%;
  display: block;
  overflow: visible;
  max-width: 565px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  font-family: 'Gt super display', sans-serif;
  color: #8468bf;
  font-size: 36px;
  line-height: 44px;
  font-weight: 400;
  text-align: center;
  text-decoration: none;
}

.next-title:hover {
  color: #333;
}

.footer-title-2 {
  margin-bottom: 20px;
  font-family: 'Gt super display', sans-serif;
  color: #8468bf;
  font-size: 32px;
  line-height: 40px;
  text-align: center;
}

.case-study-tag-link-2 {
  display: inline-block;
  font-family: 'Inter UI', sans-serif;
  color: #8468bf;
  line-height: 16px;
}

.cover-text {
  max-width: 560px;
}

.rightshot {
  display: block;
  grid-auto-columns: 1fr;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
}

.image-sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 40px;
}

.hyperlink {
  font-family: 'Inter UI', sans-serif;
  color: #8468bf;
  font-size: 18px;
  line-height: 28px;
  text-decoration: underline;
  cursor: pointer;
}

.hyperlink:hover {
  text-decoration: none;
}

.list {
  list-style-type: none;
}

.heading-3 {
  margin-top: 0px;
  margin-bottom: 30px;
  font-family: 'Inter UI', sans-serif;
  font-size: 24px;
  line-height: 28px;
  font-weight: 600;
}

.heading-3.discovery {
  margin-bottom: 10px;
}

.heading-3.focus-group {
  margin-bottom: 16px;
  font-family: 'Gt super display', sans-serif;
  color: #8468bf;
  line-height: 38px;
  font-weight: 400;
}

.heading-4 {
  margin-top: 0px;
  margin-bottom: 16px;
  font-family: 'Inter UI', sans-serif;
  color: rgba(0, 0, 0, 0.54);
  font-size: 20px;
  font-weight: 400;
}

.heading-4.design-outcome {
  padding-left: 64px;
}

.heading-2 {
  margin-top: 0px;
  margin-bottom: 40px;
}

.heading-2-text {
  font-family: 'Gt super display', sans-serif;
  color: #8468bf;
  font-size: 36px;
  line-height: 44px;
  font-style: normal;
}

.heading-2-text.design-outcome {
  padding-left: 64px;
}

.design-outcome.section-q4 {
  margin-bottom: 0px;
  padding-left: 12vh;
}

.div-block {
  margin-right: auto;
  margin-left: auto;
}

.kick-off {
  padding-top: 80px;
  padding-bottom: 80px;
}

.kick-off-content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  max-width: 560px;
  margin-right: auto;
  margin-left: auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.discovery.section-q4 {
  position: static;
  margin-top: 0px;
  margin-bottom: 0px;
  padding: 80px 12vw;
  background-color: #fafafa;
}

.discovery-content {
  display: -ms-grid;
  display: grid;
  grid-auto-columns: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto auto auto auto auto auto;
  grid-template-rows: auto auto auto auto auto auto auto;
}

.heading-3-regular {
  display: block;
  margin-top: 0px;
  margin-bottom: 20px;
  font-family: 'Inter UI', sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-style: italic;
  font-weight: 400;
}

.discovery-section-2-right {
  margin-bottom: 64px;
}

.discovery-section-3-bottom {
  display: -ms-grid;
  display: grid;
  margin-bottom: 64px;
  grid-auto-columns: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  -ms-grid-columns: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
  border-style: solid;
  border-width: 4px;
  border-color: #cfcfcf;
}

.discovery-section-3-left {
  padding: 20px 32px;
  border-right: 4px solid #cfcfcf;
}

.list-item {
  margin-bottom: 20px;
}

.discovery-section-3-right {
  padding: 20px 32px;
}

.discovery-section-5-right {
  position: static;
}

.image-analytics {
  width: 190%;
  max-width: none;
  margin-left: -90%;
}

.problem {
  display: block;
  padding: 80px 12vw;
  grid-auto-columns: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  -ms-grid-columns: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: auto auto auto;
  grid-template-rows: auto auto auto;
}

.image-sitemap {
  margin-top: 40px;
  margin-right: auto;
  margin-left: auto;
}

.ideation {
  padding: 80px 0vw;
  background-color: #f7f7f7;
}

.ideation-content {
  display: -ms-grid;
  display: grid;
  padding-right: 12vw;
  padding-bottom: 0px;
  padding-left: 12vw;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  -webkit-align-content: stretch;
  -ms-flex-line-pack: stretch;
  align-content: stretch;
  grid-auto-columns: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.image-paper-sketch {
  height: 484px;
  background-color: transparent;
  background-image: url('../images/HA-Web_Sketches.png');
  background-position: 50% 50%;
  background-size: cover;
}

.visual-identity {
  padding-top: 80px;
  padding-bottom: 80px;
}

.visual-identity-images {
  margin-top: 40px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 12vw;
  padding-left: 12vw;
}

.design-system-component {
  margin-bottom: 10px;
}

.design-system-component.first-image {
  margin-bottom: 40px;
  border-style: solid;
  border-width: 1px;
  border-color: #afafaf;
}

.final-result-left {
  width: 240px;
}

.design-outcome-media-1 {
  width: 1200px;
  height: 640px;
  margin-right: auto;
  margin-bottom: 60px;
  margin-left: auto;
}

.design-outcome-media-2 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  width: 1200px;
  height: auto;
  margin-right: auto;
  margin-left: auto;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.design-outcome-image {
  width: auto;
  height: auto;
  max-width: 100%;
}

.design-outcome-video {
  position: relative;
  width: auto;
  height: 100%;
}

.device-mockup {
  margin-left: -100px;
}

@media (max-width: 991px) {
  .header {
    margin-right: 0px;
    margin-left: 0px;
  }
  .background-text {
    right: 20px;
  }
  .section-content {
    margin-right: 0px;
    margin-left: 0px;
  }
  .case-study-image {
    width: 70vw;
  }
  .case-study-image.harbour-air-web {
    width: 70vw;
  }
  .card-study-number.selected {
    padding-top: 40px;
  }
  .description-card {
    max-width: 50vw;
    padding: 32px;
  }
  .case-study-subtitle.research-subtitle {
    min-height: auto;
    margin-bottom: 48px;
  }
  .research-case-study-card.card-left {
    min-height: 480px;
    margin-bottom: 20px;
  }
  .research-case-study-card.card-right {
    min-height: 480px;
  }
  .research-case-study-grid {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    -ms-grid-rows: auto auto;
    grid-template-rows: auto auto;
  }
  .research-heading {
    min-height: auto;
  }
  .contact {
    margin-bottom: 80px;
    padding-bottom: 0px;
  }
  .dribbble-feed {
    height: auto;
  }
  .page-title {
    padding-bottom: 20px;
    font-size: 32px;
    line-height: 36px;
  }
  .body-text {
    max-width: 648px;
  }
  .body-text.cover-text {
    padding-left: 0px;
  }
  .body-text.body-paragraphy-3 {
    max-width: none;
  }
  .cover-container {
    display: block;
    max-width: 720px;
    min-width: 320px;
  }
  .right-col {
    min-height: 444px;
    background-position: 0% 0%;
  }
  .right-col.harbour-air-web {
    overflow: hidden;
    margin-right: auto;
    margin-left: auto;
  }
  .info-container {
    padding-bottom: 40px;
  }
  .left-col {
    padding: 40px;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
  }
  .body-gray {
    padding-bottom: 20px;
  }
  .toc-block {
    width: 120px;
  }
  .intro-left-col {
    padding: 60px 10vh;
  }
  .intro-left-col.ending {
    margin-top: 0px;
    padding-right: 10vh;
    -ms-grid-rows: auto auto;
    grid-template-rows: auto auto;
  }
  .intro-right-col {
    padding-bottom: 0px;
  }
  .section-q1-container {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  .heading-1 {
    padding-bottom: 40px;
  }
  .section-q2-container {
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    -ms-grid-rows: auto auto;
    grid-template-rows: auto auto;
  }
  .image-float-back.image-q2 {
    left: 0%;
  }
  .image-float-front.image-q2 {
    right: 0%;
    width: 600px;
    max-width: 70%;
  }
  .section-q3 {
    margin-right: 10vh;
    margin-left: 10vh;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }
  .section-q4 {
    margin-right: 10vh;
    margin-left: 10vh;
    padding-right: 0vh;
    padding-left: 0vw;
  }
  .section-q5 {
    margin-right: 10vh;
    margin-left: 10vh;
  }
  .image-user-story.image-q2 {
    width: 880px;
    max-width: 100%;
  }
  .container-next {
    padding-top: 40px;
    padding-bottom: 40px;
  }
  .next-title {
    max-width: 420px;
    font-size: 32px;
    line-height: 36px;
  }
  .cover-text {
    padding-right: 40px;
    padding-left: 40px;
  }
  .design-outcome.section-q4 {
    margin-top: 60px;
    margin-bottom: 60px;
    padding-left: 0vh;
  }
  .kick-off {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  .discovery.section-q4 {
    margin-right: 0vh;
    margin-left: 0vh;
    padding-top: 60px;
    padding-bottom: 60px;
  }
  .discovery-section-3-left {
    padding-right: 10px;
    padding-left: 10px;
  }
  .discovery-section-3-right {
    padding-right: 10px;
    padding-left: 10px;
  }
  .image-analytics {
    width: 200%;
    margin-top: 20px;
    margin-left: -100%;
  }
  .ideation {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  .image-paper-sketch {
    height: 240px;
  }
  .design-outcome-media-1 {
    width: 620px;
    height: 320px;
  }
  .design-outcome-media-2 {
    width: 620px;
    height: auto;
  }
  .ha-web-header {
    max-height: 368px;
    max-width: none;
  }
  .design-outcome-image {
    width: 100%;
    height: 100%;
  }
  .design-outcome-video {
    width: 100%;
    height: 100%;
  }
  .device-mockup-image {
    width: 768px;
    height: 432px;
    max-height: none;
    max-width: none;
  }
}

@media (max-width: 767px) {
  .header {
    padding-top: 40px;
    padding-bottom: 40px;
  }
  .header-text {
    font-size: 40px;
    line-height: 48px;
  }
  .background-text {
    right: 20px;
    font-size: 96px;
    line-height: 120px;
  }
  .section-title {
    margin-bottom: 10px;
    font-size: 48px;
    line-height: 56px;
  }
  .section-content {
    padding-top: 40px;
    padding-bottom: 40px;
  }
  .section-description {
    margin-bottom: 40px;
  }
  .section-case-study {
    margin-bottom: 40px;
  }
  .case-study-image {
    width: 100%;
    height: auto;
    margin-top: 80px;
  }
  .case-study-image.harbour-air-web {
    width: 100%;
    height: auto;
    margin-top: 80px;
  }
  .card-study-number.selected {
    margin-top: 0px;
    padding-top: 0px;
  }
  .description-card {
    max-width: 100vw;
    margin-top: 65vh;
  }
  .image-background {
    right: 30px;
  }
  .dribbble-feed {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    -ms-grid-rows: auto auto;
    grid-template-rows: auto auto;
  }
  .page-title {
    padding-bottom: 20px;
    font-size: 28px;
    line-height: 36px;
  }
  .body-text {
    max-width: 480px;
  }
  .body-text.body-paragraphy-3 {
    max-width: 480px;
  }
  .body-text.discovery {
    margin-top: 0px;
  }
  .cover-container {
    margin-top: auto;
    margin-bottom: auto;
  }
  .right-col {
    display: none;
    min-height: 456px;
    margin: auto;
  }
  .info-container {
    padding-bottom: 40px;
  }
  .page-subtitle {
    font-size: 18px;
    line-height: 24px;
  }
  .first-col {
    padding-right: 40px;
    padding-bottom: 20px;
    padding-left: 20px;
  }
  .left-col {
    padding-top: 40px;
    padding-bottom: 40px;
  }
  .body-gray {
    padding-bottom: 20px;
  }
  .second-col {
    padding-bottom: 20px;
    padding-left: 20px;
  }
  .third-col {
    padding-left: 20px;
  }
  .toc-block {
    display: block;
    width: 240px;
  }
  .intro-left-col {
    padding-right: 12vw;
    padding-left: 12vw;
  }
  .intro-right-col {
    display: block;
    padding-top: 0px;
    padding-bottom: 0px;
  }
  .section-q1-container {
    margin-right: 0vh;
    margin-left: 0vh;
  }
  .heading-1 {
    max-width: 400px;
  }
  .section-q2-container {
    padding-right: 10vh;
    padding-left: 10vh;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    -ms-grid-rows: auto auto auto auto;
    grid-template-rows: auto auto auto auto;
  }
  .container-q4-3 {
    max-width: 100%;
  }
  .container-q4-1.q2-col-left {
    width: 450px;
    max-width: 600px;
    margin-bottom: 40px;
  }
  .container-q3-3 {
    padding-bottom: 0px;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
  }
  .image-float-front.image-q2 {
    top: auto;
    bottom: 25%;
  }
  .section-q3 {
    margin-right: 10vh;
    margin-left: 10vh;
    padding-bottom: 0px;
  }
  .flexbox-q3 {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    -ms-grid-rows: auto auto auto auto;
    grid-template-rows: auto auto auto auto;
  }
  .container-next {
    margin-bottom: 0px;
  }
  .rightshot {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }
  .heading-4.design-outcome {
    padding-left: 0px;
  }
  .heading-2-text {
    font-size: 24px;
    line-height: 28px;
  }
  .heading-2-text.design-outcome {
    padding-left: 0px;
    font-size: 24px;
    line-height: 28px;
  }
  .kick-off {
    padding-right: 40px;
    padding-left: 40px;
  }
  .discovery.section-q4 {
    margin-right: 0vh;
    margin-left: 0vh;
    padding-top: 60px;
    padding-bottom: 60px;
  }
  .discovery-content {
    -ms-grid-rows: auto auto auto auto auto auto auto auto auto;
    grid-template-rows: auto auto auto auto auto auto auto auto auto;
  }
  .discovery-section-3-bottom {
    margin-bottom: 40px;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    -ms-grid-rows: auto auto auto;
    grid-template-rows: auto auto auto;
  }
  .discovery-section-3-left {
    border-right-style: none;
  }
  .ideation-content {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    -ms-grid-rows: auto auto;
    grid-template-rows: auto auto;
  }
  .visual-identity {
    padding: 60px 12vw;
  }
  .visual-identity-images {
    margin-right: 0px;
    margin-left: 0px;
    padding-right: 0vw;
    padding-left: 0vw;
  }
  .design-system-component.first-image {
    width: 76vw;
  }
  .final-result-left {
    width: auto;
  }
  .design-outcome-media-1 {
    display: none;
    width: 420px;
    height: 220px;
  }
  .design-outcome-media-2 {
    overflow: hidden;
    width: auto;
    height: auto;
  }
  .design-outcome-image {
    width: auto;
    height: auto;
    max-width: 100%;
    margin-top: 0px;
  }
  .design-outcome-video {
    width: 420px;
    height: 220px;
  }
  .device-mockup {
    margin-left: 0px;
  }
  .device-mockup-image {
    width: 100vw;
    height: auto;
  }
}

@media (max-width: 479px) {
  .navbar-home {
    padding-right: 20px;
    padding-left: 20px;
  }
  .menu-link-item {
    margin-left: 20px;
    font-size: 16px;
    line-height: 20px;
  }
  .header-text {
    font-size: 30px;
    line-height: 36px;
  }
  .background-text {
    top: 5vh;
    font-size: 64px;
    line-height: 78px;
  }
  .section-title {
    margin-bottom: 10px;
    font-size: 36px;
    line-height: 42px;
  }
  .section-description {
    margin-bottom: 20px;
    font-size: 16px;
    line-height: 20px;
  }
  .section-case-study {
    margin-bottom: 50px;
  }
  .case-study-image {
    height: 200px;
    margin-top: 60px;
  }
  .case-study-image.harbour-air-web {
    width: 100%;
    height: 200px;
    max-height: none;
    max-width: none;
    margin-top: 50px;
  }
  .card-study-number.selected {
    margin-bottom: 0px;
    padding-bottom: 0px;
    line-height: 42px;
  }
  .text-span {
    font-size: 36px;
    line-height: 42px;
  }
  .description-card {
    margin-top: 30vh;
    padding: 32px 20px;
  }
  .case-study-subtitle {
    margin-bottom: 10px;
    font-size: 16px;
    line-height: 20px;
  }
  .case-study-subtitle.research-subtitle {
    min-height: 0px;
    margin-bottom: 10px;
  }
  .case-study-title {
    margin-bottom: 10px;
    font-size: 24px;
    line-height: 30px;
  }
  .case-study-tags {
    margin-bottom: 10px;
  }
  .tag {
    margin-bottom: 10px;
  }
  .research-case-study-card.card-left {
    overflow: hidden;
    min-height: 480px;
    padding: 32px 20px;
  }
  .research-case-study-card.card-right {
    min-height: 480px;
    padding: 32px 20px;
  }
  .research-case-study-grid {
    grid-column-gap: 0px;
    grid-row-gap: 20px;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    -ms-grid-rows: auto auto;
    grid-template-rows: auto auto;
  }
  .research-heading {
    min-height: 0px;
    margin-bottom: 10px;
    font-size: 24px;
    line-height: 30px;
  }
  .image-background {
    right: -10px;
    bottom: 10px;
    width: 100%;
  }
  .contact {
    padding-top: 40px;
    padding-bottom: 40px;
  }
  .footer-title {
    font-size: 24px;
    line-height: 30px;
  }
  .grid {
    justify-items: center;
    grid-column-gap: 10px;
  }
  .bold-text {
    line-height: 30px;
  }
  .page-title {
    padding-bottom: 30px;
    font-size: 28px;
    line-height: 36px;
  }
  .body-text {
    display: block;
    max-width: 280px;
  }
  .body-text.body-paragraphy-3 {
    max-width: 280px;
  }
  .body-text.heading-2 {
    max-width: none;
  }
  .right-col {
    display: none;
  }
  .info-container {
    padding-bottom: 40px;
  }
  .first-col {
    padding-bottom: 20px;
  }
  .second-col {
    padding-bottom: 20px;
  }
  .third-col {
    display: block;
  }
  .toc-block {
    width: 180px;
  }
  .intro-left-col {
    padding-right: 5vh;
    padding-left: 5vh;
    grid-row-gap: 16px;
  }
  .intro-left-col.ending {
    padding-right: 5vh;
    padding-bottom: 40px;
  }
  .intro-right-col {
    padding: 40px 5vh 0px;
  }
  .quatation-mark-left {
    background-position: 50% 50%;
    background-size: contain;
  }
  .heading-1 {
    max-width: 280px;
    font-size: 24px;
    line-height: 28px;
  }
  .heading-1.workflow-title {
    display: inline-block;
    max-width: 260px;
  }
  .quatation-mark-right {
    background-position: 50% 50%;
    background-size: contain;
  }
  .section-q2-container {
    padding-right: 0vh;
    padding-left: 0vh;
  }
  .container-q4-1.q2-col-left {
    width: 260px;
  }
  .image-float-back.image-q2 {
    position: static;
    width: 260px;
    max-width: 100%;
    margin-top: -100px;
    margin-bottom: 40px;
  }
  .image-float-front.image-q2 {
    position: static;
    bottom: 0%;
    width: 260px;
    max-width: 100%;
  }
  .section-q3 {
    margin-right: 5vh;
    margin-left: 5vh;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }
  .section-q4 {
    margin-top: 0px;
    margin-right: 5vh;
    margin-left: 5vh;
  }
  .section-q5 {
    margin-right: 5vh;
    margin-left: 5vh;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }
  .image-user-story.image-q2 {
    width: 260px;
  }
  .title-q5 {
    display: inline;
  }
  .footer-title-2 {
    font-size: 24px;
    line-height: 30px;
  }
  .cover-text {
    padding-right: 0px;
    padding-left: 0px;
  }
  .kick-off {
    padding-top: 0px;
  }
  .ideation-content {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }
  .design-outcome-media-1 {
    display: none;
    width: 246px;
  }
  .design-outcome-media-2 {
    width: auto;
    height: auto;
  }
  .design-outcome-video {
    width: 246px;
  }
  .device-mockup-image {
    width: 100vw;
  }
}

#w-node-31c6885ac2f5-58309fa9 {
  -ms-grid-column: 2;
  grid-column-start: 2;
  -ms-grid-column-span: 2;
  grid-column-end: 4;
  -ms-grid-row: 1;
  grid-row-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
}

@media screen and (max-width: 991px) {
  #w-node-31c6885ac2f5-58309fa9 {
    -ms-grid-column: 1;
    grid-column-start: 1;
    -ms-grid-column-span: 2;
    grid-column-end: 3;
    -ms-grid-row: 1;
    grid-row-start: 1;
    -ms-grid-row-span: 1;
    grid-row-end: 2;
  }
}

#w-node-c557d3720896-58309fa9 {
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-column-span: 1;
  grid-column-end: 2;
  -ms-grid-row: 1;
  grid-row-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
  -ms-grid-column-align: start;
  justify-self: start;
}

#w-node-c557d3720898-58309fa9 {
  -ms-grid-column-align: start;
  justify-self: start;
  -ms-grid-column-span: 1;
  grid-column-end: 2;
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 3;
  -ms-grid-row: 2;
  grid-row-start: 2;
}

@media screen and (max-width: 767px) {
  #w-node-c557d3720898-58309fa9 {
    -ms-grid-column: 1;
    grid-column-start: 1;
    -ms-grid-column-span: 1;
    grid-column-end: 2;
    -ms-grid-row: 3;
    grid-row-start: 3;
    -ms-grid-row-span: 1;
    grid-row-end: 4;
  }
}

#w-node-c557d372089a-58309fa9 {
  -ms-grid-column: 2;
  grid-column-start: 2;
  -ms-grid-row: 1;
  grid-row-start: 1;
  -ms-grid-column-span: 0;
  grid-column-end: 2;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
}

@media screen and (max-width: 767px) {
  #w-node-c557d372089a-58309fa9 {
    -ms-grid-column: 1;
    grid-column-start: 1;
    -ms-grid-row: 2;
    grid-row-start: 2;
    -ms-grid-row-span: 1;
    grid-row-end: 3;
  }
}

#w-node-c557d37208ad-58309fa9 {
  -ms-grid-column: 2;
  grid-column-start: 2;
  -ms-grid-row: 2;
  grid-row-start: 2;
  -ms-grid-column-span: 1;
  grid-column-end: 3;
  -ms-grid-row-span: 1;
  grid-row-end: 3;
}

@media screen and (max-width: 767px) {
  #w-node-c557d37208ad-58309fa9 {
    -ms-grid-column: 1;
    grid-column-start: 1;
    -ms-grid-column-span: 1;
    grid-column-end: 2;
    -ms-grid-row: 4;
    grid-row-start: 4;
    -ms-grid-row-span: 1;
    grid-row-end: 5;
  }
}

#w-node-087303d5487c-58309fa9 {
  -ms-grid-row: 1;
  grid-row-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
  -ms-grid-column: 2;
  grid-column-start: 2;
  -ms-grid-column-span: 2;
  grid-column-end: 4;
}

@media screen and (max-width: 991px) {
  #w-node-087303d5487c-58309fa9 {
    -ms-grid-row: 1;
    grid-row-start: 1;
    -ms-grid-row-span: 1;
    grid-row-end: 2;
    -ms-grid-column: 1;
    grid-column-start: 1;
    -ms-grid-column-span: 4;
    grid-column-end: 5;
  }
}

@media screen and (max-width: 479px) {
  #w-node-087303d5487c-58309fa9 {
    -ms-grid-column-span: 2;
    grid-column-end: 2;
  }
}

#w-node-087303d54884-58309fa9 {
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-column-span: 4;
  grid-column-end: 5;
  -ms-grid-row: 2;
  grid-row-start: 2;
  -ms-grid-row-span: 1;
  grid-row-end: 3;
  -ms-grid-column-align: auto;
  justify-self: auto;
}

@media screen and (max-width: 479px) {
  #w-node-087303d54884-58309fa9 {
    -ms-grid-column-span: 2;
    grid-column-end: 2;
  }
}

#w-node-087303d54886-58309fa9 {
  -ms-grid-column: 2;
  grid-column-start: 2;
  -ms-grid-column-span: 2;
  grid-column-end: 4;
  -ms-grid-row: 3;
  grid-row-start: 3;
  -ms-grid-row-span: 1;
  grid-row-end: 4;
}

@media screen and (max-width: 991px) {
  #w-node-087303d54886-58309fa9 {
    -ms-grid-column: 1;
    grid-column-start: 1;
    -ms-grid-column-span: 4;
    grid-column-end: 5;
  }
}

@media screen and (max-width: 479px) {
  #w-node-087303d54886-58309fa9 {
    -ms-grid-column-span: 2;
    grid-column-end: 2;
  }
}

#w-node-087303d54895-58309fa9 {
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-column-span: 4;
  grid-column-end: 5;
  -ms-grid-row: 4;
  grid-row-start: 4;
  -ms-grid-row-span: 1;
  grid-row-end: 5;
}

@media screen and (max-width: 479px) {
  #w-node-087303d54895-58309fa9 {
    -ms-grid-column-span: 2;
    grid-column-end: 2;
  }
}

@media screen and (max-width: 767px) {
  #w-node-6a7d4ba1288a-58309fa9 {
    -ms-grid-column-span: 1;
    grid-column-end: 2;
    -ms-grid-column: 1;
    grid-column-start: 1;
    -ms-grid-row-span: 1;
    grid-row-end: 3;
    -ms-grid-row: 2;
    grid-row-start: 2;
  }
}

#w-node-6a7d4ba1289c-58309fa9 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

@media screen and (max-width: 767px) {
  #w-node-6a7d4ba1289c-58309fa9 {
    -ms-grid-column-span: 1;
    grid-column-end: 2;
    -ms-grid-column: 1;
    grid-column-start: 1;
    -ms-grid-row-span: 1;
    grid-row-end: 5;
    -ms-grid-row: 4;
    grid-row-start: 4;
  }
}

#w-node-6a7d4ba128a5-58309fa9 {
  -ms-grid-column-align: auto;
  justify-self: auto;
  -webkit-align-self: auto;
  -ms-flex-item-align: auto;
  -ms-grid-row-align: auto;
  align-self: auto;
}

@media screen and (max-width: 767px) {
  #w-node-6a7d4ba128a5-58309fa9 {
    -ms-grid-column: 1;
    grid-column-start: 1;
    -ms-grid-column-span: 1;
    grid-column-end: 2;
    -ms-grid-row: 1;
    grid-row-start: 1;
    -ms-grid-row-span: 1;
    grid-row-end: 2;
  }
}

#w-node-6a7d4ba128a7-58309fa9 {
  -ms-grid-column-align: auto;
  justify-self: auto;
  -ms-grid-row-align: auto;
  align-self: auto;
  -ms-grid-column: 2;
  grid-column-start: 2;
  -ms-grid-row: 2;
  grid-row-start: 2;
  -ms-grid-column-span: 1;
  grid-column-end: 3;
  -ms-grid-row-span: 1;
  grid-row-end: 3;
}

@media screen and (max-width: 767px) {
  #w-node-6a7d4ba128a7-58309fa9 {
    -ms-grid-column: 1;
    grid-column-start: 1;
    -ms-grid-column-span: 1;
    grid-column-end: 2;
    -ms-grid-row: 3;
    grid-row-start: 3;
    -ms-grid-row-span: 1;
    grid-row-end: 4;
  }
}

#w-node-cd42d58452fe-58309fa9 {
  -webkit-box-ordinal-group: 1;
  -webkit-order: 0;
  -ms-flex-order: 0;
  order: 0;
  -ms-grid-column: 2;
  grid-column-start: 2;
  -ms-grid-column-span: 2;
  grid-column-end: 4;
  -ms-grid-row: 1;
  grid-row-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
}

@media screen and (max-width: 991px) {
  #w-node-cd42d58452fe-58309fa9 {
    -webkit-box-ordinal-group: 1;
    -webkit-order: 0;
    -ms-flex-order: 0;
    order: 0;
    -ms-grid-column: 1;
    grid-column-start: 1;
    -ms-grid-column-span: 4;
    grid-column-end: 5;
    -ms-grid-row: 1;
    grid-row-start: 1;
    -ms-grid-row-span: 1;
    grid-row-end: 2;
  }
}

@media screen and (max-width: 479px) {
  #w-node-cd42d58452fe-58309fa9 {
    -ms-grid-column-span: 2;
    grid-column-end: 2;
  }
}

#w-node-cd42d5845309-58309fa9 {
  -ms-grid-column: 2;
  grid-column-start: 2;
  -ms-grid-column-span: 2;
  grid-column-end: 4;
  -ms-grid-row: 3;
  grid-row-start: 3;
  -ms-grid-row-span: 1;
  grid-row-end: 4;
}

@media screen and (max-width: 991px) {
  #w-node-cd42d5845309-58309fa9 {
    -ms-grid-column: 1;
    grid-column-start: 1;
    -ms-grid-column-span: 4;
    grid-column-end: 5;
    -ms-grid-row: 3;
    grid-row-start: 3;
    -ms-grid-row-span: 1;
    grid-row-end: 4;
  }
}

@media screen and (max-width: 479px) {
  #w-node-cd42d5845309-58309fa9 {
    -ms-grid-column-span: 2;
    grid-column-end: 2;
  }
}

#w-node-cd42d584530c-58309fa9 {
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
  -ms-grid-column: span 4;
  grid-column-start: span 4;
  -ms-grid-column-span: 4;
  grid-column-end: span 4;
}

@media screen and (max-width: 479px) {
  #w-node-cd42d584530c-58309fa9 {
    -ms-grid-column: 1;
    grid-column-start: 1;
    -ms-grid-column-span: 1;
    grid-column-end: 2;
    -ms-grid-row-span: 1;
    grid-row-end: 3;
    -ms-grid-row: 2;
    grid-row-start: 2;
  }
}

#w-node-b415d5e5a6f7-58309fa9 {
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-row: 1;
  grid-row-start: 1;
  -ms-grid-column-span: 1;
  grid-column-end: 2;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
}

#w-node-b415d5e5a6f9-58309fa9 {
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-column-span: 1;
  grid-column-end: 2;
  -ms-grid-row: 2;
  grid-row-start: 2;
  -ms-grid-row-span: 1;
  grid-row-end: 3;
  -ms-grid-column-align: center;
  justify-self: center;
}

@media screen and (max-width: 767px) {
  #w-node-b5506a75b32c-7147090d {
    -ms-grid-row: span 1;
    grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
    -ms-grid-column: span 2;
    grid-column-start: span 2;
    -ms-grid-column-span: 2;
    grid-column-end: span 2;
  }
}

#w-node-68e3f20f4907-7147090d {
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-column-span: 1;
  grid-column-end: 2;
  -ms-grid-row: 2;
  grid-row-start: 2;
  -ms-grid-row-span: 1;
  grid-row-end: 3;
}

@media screen and (max-width: 767px) {
  #w-node-68e3f20f4907-7147090d {
    -ms-grid-column: 1;
    grid-column-start: 1;
    -ms-grid-column-span: 2;
    grid-column-end: 3;
    -ms-grid-row: 2;
    grid-row-start: 2;
    -ms-grid-row-span: 1;
    grid-row-end: 3;
  }
}

#w-node-daf23d0d0ac4-7147090d {
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-column-span: 1;
  grid-column-end: 2;
  -ms-grid-row: 3;
  grid-row-start: 3;
  -ms-grid-row-span: 1;
  grid-row-end: 4;
}

@media screen and (max-width: 767px) {
  #w-node-daf23d0d0ac4-7147090d {
    -ms-grid-column: 1;
    grid-column-start: 1;
    -ms-grid-column-span: 2;
    grid-column-end: 3;
    -ms-grid-row: 3;
    grid-row-start: 3;
    -ms-grid-row-span: 1;
    grid-row-end: 4;
  }
}

#w-node-ceef5c317c20-7147090d {
  -ms-grid-column: 2;
  grid-column-start: 2;
  -ms-grid-column-span: 1;
  grid-column-end: 3;
  -ms-grid-row: 3;
  grid-row-start: 3;
  -ms-grid-row-span: 1;
  grid-row-end: 4;
}

@media screen and (max-width: 767px) {
  #w-node-ceef5c317c20-7147090d {
    -ms-grid-column: 1;
    grid-column-start: 1;
    -ms-grid-row: 4;
    grid-row-start: 4;
    -ms-grid-row-span: 1;
    grid-row-end: 5;
  }
}

#w-node-87d1c5375238-7147090d {
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-column-span: 1;
  grid-column-end: 2;
  -ms-grid-row: 4;
  grid-row-start: 4;
  -ms-grid-row-span: 1;
  grid-row-end: 5;
}

@media screen and (max-width: 767px) {
  #w-node-87d1c5375238-7147090d {
    -ms-grid-column: 1;
    grid-column-start: 1;
    -ms-grid-column-span: 2;
    grid-column-end: 3;
    -ms-grid-row: 5;
    grid-row-start: 5;
    -ms-grid-row-span: 1;
    grid-row-end: 6;
  }
}

#w-node-61a41630e965-7147090d {
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-column-span: 2;
  grid-column-end: 3;
  -ms-grid-row: 5;
  grid-row-start: 5;
  -ms-grid-row-span: 1;
  grid-row-end: 6;
}

@media screen and (max-width: 767px) {
  #w-node-61a41630e965-7147090d {
    -ms-grid-row: 6;
    grid-row-start: 6;
    -ms-grid-row-span: 1;
    grid-row-end: 7;
  }
}

#w-node-d2c003e1cd23-7147090d {
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-column-span: 1;
  grid-column-end: 2;
  -ms-grid-row: 6;
  grid-row-start: 6;
  -ms-grid-row-span: 1;
  grid-row-end: 7;
}

@media screen and (max-width: 767px) {
  #w-node-d2c003e1cd23-7147090d {
    -ms-grid-column: 1;
    grid-column-start: 1;
    -ms-grid-column-span: 2;
    grid-column-end: 3;
    -ms-grid-row: 7;
    grid-row-start: 7;
    -ms-grid-row-span: 1;
    grid-row-end: 8;
  }
}

#w-node-b71b2acb5a55-7147090d {
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-column-span: 1;
  grid-column-end: 2;
  -ms-grid-row: 7;
  grid-row-start: 7;
  -ms-grid-row-span: 1;
  grid-row-end: 8;
}

@media screen and (max-width: 767px) {
  #w-node-b71b2acb5a55-7147090d {
    -ms-grid-column: 1;
    grid-column-start: 1;
    -ms-grid-column-span: 2;
    grid-column-end: 3;
    -ms-grid-row: 8;
    grid-row-start: 8;
    -ms-grid-row-span: 1;
    grid-row-end: 9;
  }
}

#w-node-0957724e9bda-7147090d {
  -ms-grid-column: 2;
  grid-column-start: 2;
  -ms-grid-column-span: 1;
  grid-column-end: 3;
  -ms-grid-row: 7;
  grid-row-start: 7;
  -ms-grid-row-span: 1;
  grid-row-end: 8;
}

@media screen and (max-width: 767px) {
  #w-node-0957724e9bda-7147090d {
    -ms-grid-column: 2;
    grid-column-start: 2;
    -ms-grid-column-span: 1;
    grid-column-end: 3;
    -ms-grid-row: 9;
    grid-row-start: 9;
    -ms-grid-row-span: 1;
    grid-row-end: 10;
  }
}

#w-node-7be32c1ceb89-7147090d {
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-row: 1;
  grid-row-start: 1;
  -ms-grid-column-span: 1;
  grid-column-end: 2;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
}

#w-node-7be32c1ceb8b-7147090d {
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-column-span: 1;
  grid-column-end: 2;
  -ms-grid-row: 2;
  grid-row-start: 2;
  -ms-grid-row-span: 1;
  grid-row-end: 3;
  -ms-grid-column-align: center;
  justify-self: center;
}

@font-face {
  font-family: 'Gt super display';
  src: url('../fonts/GT-Super-Display-Regular.woff2') format('woff2'), url('../fonts/GT-Super-Display-Regular.eot') format('embedded-opentype'), url('../fonts/GT-Super-Display-Regular.woff') format('woff'), url('../fonts/GT-Super-Display-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Inter UI';
  src: url('../fonts/Inter-UI-BoldItalic.ttf') format('truetype'), url('../fonts/Inter-UI-ExtraBoldItalic.ttf') format('truetype');
  font-weight: 700;
  font-style: italic;
}
@font-face {
  font-family: 'Inter UI';
  src: url('../fonts/Inter-UI-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: 'Inter UI';
  src: url('../fonts/Inter-UI-BlackItalic.ttf') format('truetype');
  font-weight: 900;
  font-style: italic;
}
@font-face {
  font-family: 'Inter UI';
  src: url('../fonts/Inter-UI-ExtraBold.ttf') format('truetype'), url('../fonts/Inter-UI-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'Inter UI';
  src: url('../fonts/Inter-UI-SemiBoldItalic.ttf') format('truetype');
  font-weight: 600;
  font-style: italic;
}
@font-face {
  font-family: 'Inter UI';
  src: url('../fonts/Inter-UI-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'Inter UI';
  src: url('../fonts/Inter-UI-MediumItalic.ttf') format('truetype');
  font-weight: 500;
  font-style: italic;
}
@font-face {
  font-family: 'Inter UI';
  src: url('../fonts/Inter-UI-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Inter UI';
  src: url('../fonts/Inter-UI-Italic.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: 'Inter UI';
  src: url('../fonts/Inter-UI-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}